body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.App-header {
  height: 50px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}


#remove-filter button {
  margin: 10px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-bottom: dashed 1px #bbb;
  color: #bbb;
}

#remove-filter button:hover {
  color: #333;
  border-color: #bbb;
  cursor: pointer;
}

#remove-filter button:focus {
  outline: none;
}
